<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <title>{{title}}</title>
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />

  {{#if home}}
  <!-- build:cssHome(./public) /css/home.css -->
  <link rel="stylesheet" href="/tmp/home.css" />
  <!-- endbuild -->
  {{/if}}

  {{#unless home}}
  <!-- build:cssLevel(./public) /css/level.css -->
  <link rel="stylesheet" href="/tmp/level.css" />
  <!-- endbuild -->
  {{/unless}}

  {{#if level}}<style>{{level.styles}}</style>{{/if}}
  {{#if levelResult}}<style>{{levelResult.styles}}</style>{{/if}}
</head>
<body
  {{#if level}}class="{{level.background}}"{{/if}}
  {{#if levelResult}}class="{{levelResult.levelData.background}}"{{/if}}>

  {{#if home}}
    {{> home}}
  {{/if}}

  {{#if level}}
    {{> level}}
  {{/if}}

  {{#if levelResult}}
    {{> levelResult}}
  {{/if}}
</body>
</html>